/* My variable colors */

:root {
  --primary-color: #dcf64b;
  --second-color: #a0b435;
  --black-color: #000000;
  --black-color-medium: #0c0c0c;
  --semi-black: #1e1e1e;
  --white-color: #ffffff;
}


.container {
  width: 100%;
  max-width: 1246px; 
  margin: 0 auto;
  padding: 0rem 1.5rem;
}


.btn-primary {
  border-radius: 24px;
  font-weight: 700;
  line-height: 2.4rem;
  font-size: 1.6rem;
  background-color: var(--primary-color);
  color: var(--black-color);
  padding: 1rem 2.6rem;
  transition: all 0.2s;
}

.btn-primary:hover {
  background-color: var(--white-color);
  transform: scale(1.04);
}

