header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 4rem 0px;
  z-index: 800;
}

header .container {
  display: flex;
  justify-content: space-between;
  
  align-items: center;
}

header nav{
  display: flex;
}

header .nav-menu {
  font-size: 2.0rem;
  display: flex;
  text-transform: uppercase;
}

header .nav-menu li{
  padding: 1.0rem;
  margin-left: 1.0rem;
  
}

header .nav-social {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .nav-menu a{
  color: var(--primary-color);
  font-weight: bold;
}

header .nav-menu a:hover{
  color: var(--second-color);
}
  

.body-section-bg{
  background-image: url(../img/s-hero-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height:100vh;
 
}

.body-section-bg .container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
 
 
}

.body-section-content-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; 
  margin-top: 24rem;  
  color:white;
  
  
  
}

.body-section-content-title h1{
  font-size:6.4rem;
  padding-bottom: 4rem;
  text-align: center;
}
.body-section-content-title h2{
  font-size:2.4rem;
  padding-bottom: 4rem;
  text-align: center;
}
.body-section-content-title p{
  font-size:1.8rem;
  
  text-align: center;
}


.body-section-content-title span{
  color:red;
}

.body-section-content-fig{
  display:flex;
  align-items:center;
  justify-content:center;
  padding:1.0rem;
  
}


.body-section-content-fig img{
  margin-left: 1.0rem;
 max-width: 6.4rem;
 max-height: 6.4rem;
}


.body-section-bg .btn-primary{

  margin-top: 4rem;
  padding: 1rem 5.6rem;

 


}

.sucess{
  height:33rem;
  
}

.sucess-label{
 margin-top: 1.5rem ;
 border-radius: 40rem;
 width: 8.0rem;
 padding:1.0rem;
  background-color: white;
  color:black;
}

.cards{
  display:flex;
  

}


.sucess-label-h3{
  color:white;
  font-size:6.0rem;
  margin-top:2.0rem;

}

.sucess-label-h3 spam{
  color:red; 

}
.sucess-title{
  color:black;
  width:25rem;
  height:25rem;
  background-color:white;
  margin-left: 4.0rem;
  padding:4.0rem;

}

.sucess-title h3{
  font-size:6.0rem;


}

.sucess-title p{
  margin-top:4.0rem;
  font-size:3.0rem;

}

.qs{
  background-color:rgba(28, 26, 26, 0.44);

}

.qs .container{
  width:100%;
  height:40rem;  
  display: flex;
}


.qs-legend{
  height:30rem;
  width:70rem;
  color:white;
  margin-top:7.0rem;
  
}

.qs-legend h3{
  font-size: 7.0rem;
}

.qs-legend p{
  font-size: 1.8rem;
}

.qs-fig{
  margin-top:1.0rem; 
  display:flex;
}

.qs-fig img{
  margin-left: 1.0rem;
}

.qs-img img{
  width: 40rem;
  padding:1.0rem;
}


.cases .container {
  display: flex;
  flex-direction: column;

  width:100%;
  height:55rem;
 

}

.cases-title{
  margin-top:4.0rem;
  color:white;
}

.cases-title h3{
  font-size: 7.0rem;
 

}
.cases-img{
  display:flex;
  align-items:center;
  max-width: 450px;
  justify-content:space-between;

}

.cases-img img{
  max-width: 350px;
  margin-right: 10px;
  margin-top:50px;
  
  
}

.cases-img img:nth-child(2){

  max-width: 450px; 
 

}

.contact{
  width:100%;
  height:55rem;
  background-color:red;
  
}

.contact .container {
  display: flex;
}

.contact-title{
  display: flex;  
  align-items:center;  
  height: 55rem;
  width: 50%;
  font-size: 7.0rem;
  color:white;
}