header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 4rem 0px;
  z-index: 800;
}

header .container {
  display: flex;
  justify-content: space-between;
  
  align-items: center;
}

header nav{
  display: flex;
}

header .nav-menu {
  font-size: 2.0rem;
  display: flex;
  text-transform: uppercase;
}

header .nav-menu li{
  padding: 1.0rem;
  margin-left: 1.0rem;
  
}

header .nav-social {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .nav-menu a{
  color: var(--primary-color);
  font-weight: bold;
}

header .nav-menu a:hover{
  color: var(--second-color);
}
  

.body-section-one{
  background-image: url(../img/s-hero-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height:100vh;
 
}